.folderContainer {
    margin-top: 20px;
}

.folderItem {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.folderItem:hover {
    background-color: #f9f9f9;
}

.folderHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.folderHeader button {
    margin-right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.folderHeader button:hover {
    opacity: 0.7; /* Efeito de hover para os ícones */
}

.folderName {
    margin-left: 10px;
    cursor: pointer;
    flex-grow: 1; /* Faz o nome da pasta ocupar o espaço restante */
}

.folderName:hover {
    text-decoration: underline; /* Efeito de hover para indicar que é clicável */
}

.folderHeader input {
    margin-left: 10px;
    width: auto; /* Ajusta o tamanho do input */
    flex-grow: 1; /* Faz o input ocupar o espaço restante */
}

.fileUpload {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.fileUpload.dragover {
    border-color: #007bff;
}

.fileUpload ul {
    list-style-type: none;
    padding-left: 0;
}

.fileUpload ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.fileUpload ul li:hover {
    background-color: #f1f1f1;
}

.subfolderContainer {
    margin-left: 20px; /* Recuo para subpastas */
    border-left: 2px solid #ccc; /* Linha vertical para indicar hierarquia */
    padding-left: 10px; /* Espaçamento para a linha */
}